---
import GanttChart from "../components/GanttChart.astro";
import Sidebar from "../components/Sidebar.astro";
import Layout from "../layouts/Layout.astro";
// Eventuella andra imports, t.ex. din Sidebar-komponent
---
<Layout>
  <div class="page-container">
    <Sidebar />
    <GanttChart />
  </div>
</Layout>