---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import TodoForm from "../components/TodoForm.jsx";
---

<Layout>
  <Sidebar />
  <div class="min-h-screen flex items-center justify-center">
    <TodoForm client:load />
  </div>
</Layout>
