<div class="container" id="container">
    <div id="background">
        <img src="/images/background.svg" alt="Background Image" />
    </div>
    <main>
        <div id="hero">
            <h1>Welcome to Khattab</h1>
            <p>Khattab is a simple, self-hosted, and privacy-focused alternative to Google Keep.</p>
            <div id="links">
                <a href="/docs/intro">Documentation</a>
                <a href="/docs/faq">FAQ</a>
                <a href="/docs/changelog">Changelog</a>
                <a href="/docs/contributing">Contributing</a>
                <a href="/docs/privacy">Privacy Policy</a>
                </div>
            </div>
        </div>
    </main>
</div>